.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px ;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer {
    background-color: rgb(226, 226, 136);
    margin: 0px auto;
    padding: 20px 0px ;
}
.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background-color: rgb(204, 73, 106);
    color: floralwhite;

}
.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}
 body{
     padding:50px 0px ;
     z-index: 0;
     margin: 0px auto;

 }
 .navbar-dark{
     background-color: #512dab;
 }